$primary-color:              #232a35;
$primary-color-text:         #ffffff;
$primary-color-l:            #334c6e;
$primary-color-l-text:       #ffffff;

$accent-color-1:             #059BFF;
$accent-color-1-text:        #000000;
$accent-color-2:             #D3FBD8;
$accent-color-2-text:        #000000;