.interval-bar {
    position: relative;
    height: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    
    .progress-bar {
        position: absolute;
        height: 100%;
        width: 0%;
        background-color: rgba($color: #2bff00, $alpha: 1);
    }
}