#info-bar {
    width: 100%;
    min-height: 30px;
    padding: 5px;
    background-color: #334c6e;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 10px #000000f1;
    box-sizing: border-box;
}