@use "../../styles/theme.scss" as *;

#info-bar {
    width: 100%;
    padding: 5px;
    background-color: $primary-color-l;
    color: $primary-color-l-text;
    box-shadow: 0 2px 5px #000000f1;
    box-sizing: border-box;
}
